<header th:fragment="navbar" class="main-header-two main-header-three">
    <nav class="main-menu main-menu-two main-menu-three">
        <div class="main-menu-two__wrapper">
            <div class="main-menu-two__wrapper-inner">
                <div class="main-menu-two__left">
                    <div class="main-menu-two__logo">
                        <a href="index.html"><img style="width: 96px;" src="img/favicon.png" alt=""></a>
                    </div>
                    <div class="main-menu-two__main-menu-box">
                        <a href="#" class="mobile-nav__toggler"><i class="fa fa-bars"></i></a>
                        <ul class="main-menu__list">
                            <li>
                                <a th:href="@{/}">Beranda</a>

                            </li>
                            <li>
                                <a th:href="@{/property}">Property</a>
                            </li>
                            <li>
                                <a th:href="@{/tentang_kami}">Tentang Kami</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </nav>
</header>